  // my custom theme
  body{
    background-color:#181818;
    color:#000000;
    font-weight:200;
  }
  .bg-1{
	padding-top: 90px;
    padding-bottom: 50px;
  }
  .mainPage{
	background-color: #ffffff;
	}
  .heading{
  	color:#AB0000;
  }
  p{
  	font-weight:200;
  	font-size: 14px;
  }
  h4{
    color: #A80000;
  }
  .fa{
    font-size: 20px;
  }
